h1 {
    border: 2px solid #00F;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
}

h2 {
    border: 2px solid #AAA;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    border: 2px solid #0F0;
    padding-left: 10px;
    padding-right: 10px;
}

ul li:not(:last-child){
    margin-bottom: 15px;
}